html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background-color: #aaa;
	min-width: 250px;
	margin: 0;
	padding: 0;
}

.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 256px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
}

.slideout-panel {
	position:relative;
	z-index: 1;
	will-change: transform;
}
#panel {
	height: 100%;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}

h1 {
	font-family: "memoriam-headline-pro";
	font-weight: 400;
	font-style: normal;
}
button {
	background-color: transparent;
	border: none;
}
.toggle-button {
	font-size: 40px;
	color: #fff;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
}

---------------------------- BACKGROUND ALBUM COVER BACKGROUND CSS ---------------------------

.cctrack:nth-of-type(2),
.cctrack:nth-of-type(3),
.cctrack:nth-of-type(4),
.cctrack:nth-of-type(5),
.ccdetails {
  display: none;
}

.cctrack {
  margin-bottom: 0 !important;
  position: relative;
  z-index: -10;
}

.cccover {
  background: transparent !important;
  border: none !important;
  float: none !important;
  margin-right: 0!important;
  padding: 0 !important;
  z-index: -10;
}

.cccover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

@media all and (orientation:portrait) {
  .cccover img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
  }
}

@media all and (orientation:landscape) {
  .cccover img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
  }
}

#white-overlay {
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -9;
}

#purple-gradient-overlay {
  background: rgba(64, 64, 128, 1);
  background: -moz-linear-gradient(-45deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
  background: linear-gradient(135deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(1 startColorstr='#404080', endColorstr='#8282ac', GradientType=1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter: opacity(80%);
  -webkit-filter: opacity(80%);
  -moz-filter: opacity(80%);
  -o-filter: opacity(80%);
  -ms-filter: opacity(80%);
  z-index: -8;
}


----------------------------------------  HOME CSS  ------------------------------------------

h1 {
	font-size: 60px;
	color: #fff;
}

#home p {
	font-size: 18px;
	text-transform: lowercase;
}
#home ul li {
	list-style: none;
	display: block;
}

#home a {
	text-decoration: none;
	color: inherit;
}

#home .button {
	font-size: 14px;
	text-transform: uppercase;
	width: 200px;
	height: 30px;
	border: 1px solid #fff;
	text-align: center;
}

#home #radio-button{
	color: #fff;
}

#home #chat-button {

}

----------------------------------------  CHAT CSS  ------------------------------------------
#chat-input {
	width: 100%;
	background-color: white;
	display: inline-block;
}
#chat-user-input {
	display: none;
}
#left-buttons {
	width: 14%;
	float: left;
	padding: 0;
	margin: 0;
}
#right-buttons {
	float: right;
	width: 14%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#submitmsg {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
}
#usermsg {
	width: 70%;
	background-color: white;
	height: 50px;
	display: inline-block;
}





@media all and (min-width: 480px) {

}