



body {
	background-color: pink;
	min-width: 250px;
}





/*----------------------------------------  CHAT CSS  ------------------------------------------*/
#chat-input {
	width: 100%;
	background-color: white;
	display: inline-block;
}
#chat-user-input {
	display: none;
}
button {
	background-color: transparent;
	border: none;
}
#left-buttons {
	width: 15%;
	float: left;
	padding: 0;
	margin: 0;
}
#right-buttons {
	float: right;
	width: 15%;
	box-sizing: border-box;
}
#submitmsg {
	background: transparent;
	border: none;
}
#usermsg {
	width: 70%;
	background-color: white;
	height: 50px;
	display: inline-block;
}





@media all and (min-width: 480px) {

}