html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	min-width: 320px;
	min-height: 480px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
a {
	color: inherit;
}
.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 150px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
	background-color: #e6e6e6;
}
.slideout-panel {
	position:relative;
	z-index: 1;
	will-change: transform;
}
#panel {
	height: 100%;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}
.slideout-open .slideout-menu {
	display: block;
}
h1 {
	font-family: "memoriam-headline-pro";
	font-weight: 400;
	font-style: normal;
	color: #fff;
	display: block;
	margin: 0 auto;
	width: 215px;
}
h2 {
	font-family: "memoriam-headline-pro";
	font-weight: 400;
	font-style: normal;
	color: #343434;
	text-align: center;
	font-size: 30px;
	display: block;
	margin: -5px auto 0px auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	text-transform: lowercase;
	background-color: #f2f2f2;
	height: 65px;
}
button {
	background-color: transparent;
	border: none;
}
.toggle-button {
	font-size: 40px;
	color: #fff;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	position: relative;
	top: 0px;
	left: 10px;
	display: inline-block;
}
@media all and (min-width: 550px) {
	.toggle-button {
		font-size: 60px;
		top: 0px;
		left: 17px;
	}
}
#current {
	background-color: #fed687;
}
nav ul {
	padding-left: 0px;
	margin: 0;
}
nav li {
	height: 55px;
	width: 100%;
	list-style: none;
}
nav li a {
	color: inherit;
	text-decoration: none;
	font-family: "myriad-pro";
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	position: relative;
	top: 8px;
	height: 100%;
	width: 100%;
	display: block;
}
#menu {
	width: 150px;
}

#menu .material-icons {
	font-size: 26px;
	position: relative;
	top: 5px;
	margin: 0 15px 0 20px;
	z-index: 1;

}
#panel {position: relative;}

#logo {
	font-size: 24px;
	display: inline-block;
	text-align: center;
	width: 200px;
	position: fixed;
	left: 50%;
	margin-left: -100px;
}
@media all and (min-width: 550px) {
	#logo {
		font-size: 43px;
		top: -10px;
	}
	header {
		height: 80px !important;
	}
}
header {
	display: inline-block;
	height: 60px;
	width: 100%;
}
#desktop-p {
	display: none;
}
#current a {
	position: relative;

}

/*------------------------- BACKGROUND ALBUM COVER BACKGROUND CSS -------------------------*/

#cc_recenttracks_throbber_ggbgcjrh, #cc_recenttracks_throbber_ggbgcjrh img {
	display: none;
}

#background img {
  background: transparent !important;
  border: none !important;
  float: none !important;
  margin-right: 0!important;
  padding: 0 !important;
  z-index: -10;
}
#background img {
  filter: blur(6px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
}
@media all and (orientation:portrait) {
  #background img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
  }
}
@media all and (orientation:landscape) {
  #background img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
  }
}
#background #purple-gradient-overlay {
  background: rgba(64, 64, 128, 1);
  background: -moz-linear-gradient(-45deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
  background: linear-gradient(135deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter: opacity(80%);
  -webkit-filter: opacity(80%);
  -moz-filter: opacity(80%);
  -o-filter: opacity(80%);
  -ms-filter: opacity(80);
  z-index: -9;
}

/*-------------------------  BACKGROUND ALBUM COVER BACKGROUND TABLET CSS  -------------------------*/

@media all and (min-width: 550px) {
	#background img {
	  	filter: blur(8px);
	  	-webkit-filter: blur(8px);
	  	-moz-filter: blur(8px);
	  	-o-filter: blur(8px);
	  	-ms-filter: blur(8px);
	}
}

/*-------------------------  BACKGROUND ALBUM COVER BACKGROUND DESKTOP CSS  -------------------------*/

@media all and (min-width: 1000px) {
	#background img {
   		filter: blur(11px);
  		-webkit-filter: blur(11px);
  		-moz-filter: blur(11px);
  		-o-filter: blur(11px);
  		-ms-filter: blur(11px);
	}
}

/*-------------------------  HOME CSS  -------------------------*/

/*-------------------------  HOME PHONE CSS  -------------------------*/

#home {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 328px;
	width: 250px;
	margin: -164px 0 0 -125px;
}
#home h1 {
	font-size: 60px !important;
	position: absolute;
	top: 28%;
	left: 48%;
	height: 145px;
	width: 250px;
	margin: -72.5px 0 0 -125px;
}
#home p {
	font-size: 19px;
	text-transform: lowercase;
	font-family: "myriad-pro";
	font-weight: 300;
	color: #fff;
	text-align: center;
	width: 250px;
	height: 46px;
	position: absolute;
	top: 60%;
	left: 50%;
	margin: -23px 0 0 -125px;
}
#home ul {
	padding: 0;
	margin: 0;
	position: absolute;
	height: 100px;
	width: 250px;
	top: 93%;
	left: 50%;
	margin: -50px 0 0 -125px;
}
#home ul li {
	list-style: none;
	display: block;
	margin: 0 auto;
}
#home a {
	text-decoration: none;
	color: inherit;
	position: relative;
}
#radio-button a {
	top: 7px;
}
#chat-button a {
	top: 9px;
}
#home .button {
	font-size: 14px;
	text-transform: uppercase;
	width: 200px;
	height: 40px;
	text-align: center;
	font-family: "myriad-pro";
	font-weight: 600;
	font-style: normal;
	box-sizing: border-box;
	border-radius: 20px;
	width:230px;
}
#home #radio-button{
	color: #fff;
	margin-bottom: 20px;
	border: 2px solid rgba(255,255,255,0.5);
	
}
#home #chat-button {
	background-color: rgba(255,255,255,0.5);
	color: rgba(0,0,0,1);
	border: none;
	mix-blend-mode: screen;
}
#desktop-nav, #desktop-logo, #repsonsive-mockup, #responsive-mockup img, #responsive-mockup p {
	display: none;
}

/*-------------------------  HOME TABLET CSS  -------------------------*/

@media all and (min-width: 550px) {
	#home {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 500px;
		width: 500px;
		margin: -164px 0 0 -250px;
	}
	#home h1 {
		font-size: 100px !important;
		width: 400px;
		height: 210px;
		display: block;
		margin: -105px 0 0 -220px;
		top: 10%;
		position: absolute;
	}
	#home p {
		font-size: 20px;
		position: fixed;
		top: 55%;
		left: 50%;
		height: 50px;
		width: 250px;
		margin: -25px 0 0 -125px;
	}
	#home ul {
		position: absolute;
		top: 70%;
		height:100px;
		width: 300px;
		left: 50%;
		margin: -50px 0 0 -150px;
	}
	#radio-button a {
		top: 7px;
	}
	#chat-button a {
		top: 9px;
	}
	#home .button {
		font-size: 16px;
		line-height: 30px;
		height: 50px;
		border-radius: 25px;
		width:300px;
	}
}

/*-------------------------  HOME DESKTOP CSS  -------------------------*/

@media all and (min-width: 960px) {
	.slideout-menu, #menu {
		display: none;
	}
	.toggle-button {
		display: none;
	}
	#home {
		position: relative;
		margin: 0 auto;
		top: 20px;
		left: 0;
		height: calc(100% - 80px);
		width: 100%;
		max-width: 1200px;
		min-height: 680px;	
	}
	#logo {
		display: none !important;
	}
	#home h1 {
		font-size: 60px !important;
		width: 250px;
		height: 100px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	#home p {
		font-size: 50px;
		position: absolute;
		top: 20%;
		left: 65%;
		height: 200px;
		width: 425px;
		margin: -25px 0 0 -125px;
		text-align: left;
	}
	#home ul {
		position: absolute;
		top: 65%;
		height:100px;
		width: 400px;
		left: 67%;
		margin: -50px 0 0 -150px;
	}
	#radio-button a {
		top: 7px;
	}
	#chat-button a {
		top: 9px;
	}
	#home .button {
		font-size: 16px;
		line-height: 30px;
		height: 50px;
		border-radius: 25px;
		width:160px;
		display: inline-block;
		margin-right: 7%;

	}
	#desktop-nav, #desktop-logo {
		display: block;
	}
	#desktop-logo {
		font-size: 50px;
		text-align: left;
		position: absolute;
		height: 100px;
		top: -20px;
		left: 20px;
	}
	#desktop-nav {
		max-width: 1300px;
		height: 83px;
		position: relative;
		margin: 0 auto;
	}
	#desktop-nav ul li {
		display: inline-block;		
	}
	#desktop-nav ul {
		position: absolute;
		right: 0;
	}

	#desktop-nav li {
		height: 80px;
		width: 150px;
		box-sizing: border-box;
	}
	#desktop-nav a {
		font-weight: 700 !important;
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		height: 30px;
		line-height: 28px;
		width: 80px;
		position: relative !important;
		top: 27px !important;
		left: 35px;
		box-sizing: border-box;
		border: 1px solid rgba(255,255,255,0.0);
	}
	#desktop-nav a:hover {
		border-radius: 15px;
		border: 1px solid rgba(255,255,255,0.5);
		box-sizing: border-box;

	}
	#desktop-nav .nav-chat {
		border: none;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 15px; 
		color: #000;
		mix-blend-mode: screen;
	}
	#desktop-nav .nav-chat:hover {
		background-color: rgba(255,255,255,0.7);
		border: none;
	}
	
	#repsonsive-mockup, #responsive-mockup img, #responsive-mockup p {
		display: block;
	}
	#responsive-mockup {
		position: fixed;
		height: 600px !important;
		width: 370px;
		top: 50%;
		left: 30%;
		margin: -250px 0 0 -185px;
	}
	#responsive-mockup img {
		height:70%;
		position: relative;
		left: 0%;
		top: 5%;
	}
	#responsive-mockup p {
		font-size: 24px;
		position: absolute;
		left: 13%;
		top: 75%;
		text-align: center;
		width: 280px;
		height: 100px;
		margin: 0;
	}
	#responsive-mockup p strong {
		font-weight: 700;
	}
	#desktop-p {
		display: inline;
	}
	#desktop-p strong {
		font-weight: 700;
	}
}

/*-------------------------  RADIO CSS  -------------------------*/

/*-------------------------  RADIO PHONE CSS  -------------------------*/
#radio {
	height: calc(100% - 50px);
}
#squiggle {
	width: 100%;
	height: auto;
	position: fixed;
	top: 10%;
	z-index:-5;
	opacity: 0.5;
}
#tablet-left-radio, #tablet-left-radio-container {
	height: 100%;
}
#radio .jp-details {
	display: none;
}
#radio #song-request {
	display: none;
}

#radio #song-info {
	font-family: "myriad-pro";
	color: #fff;
}

#radio #cc_strinfo_trackimageurl_ggbgcjrh {
	height: 120px;
	width: auto;
	margin: 10% 0 10px 23%;
}
#radio span {
	display: block;
}
#radio #cc_strinfo_tracktitle_ggbgcjrh{
	font-size: 24px;
	font-weight: 700;
	margin: 5% 0 5% 23%;
}
#radio #cc_strinfo_trackartist_ggbgcjrh {
	font-size: 14px;
	margin: 0 0 5% 23%;
}

#radio .music-player {
	width: 100%;
	height: 40%;
}

#radio #cc_jp_container_2, #radio .jp-interface, 
#radio .jp-controls, #radio .jp-type-single {
	border: none;
	background: transparent;
	width: 100%;
	height: 100%;
	position: relative;
}
#radio .jp-controls {
	position: relative;
	margin: -24px 0 0 -24px;
}
#radio .jp-volume-controls {
	width: 100%;
	position: absolute;
	left: 0;
	height: 100%;
}

#radio .jp-volume-bar {
	width: 160px;
	position: absolute;
	display: inline-block;
	text-align: center;
	top: 15px;
	left: 50%;
	margin-left: -80px

}

#radio .jp-play {
	background: url(../img/play-button.png) !important;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -22px;
	top: 40%;
	z-index: 2;
}

#radio .music-player > div {
	height: 100%;
	width: 100%;
}

#radio .jp-mute {
	background: url(../img/mute-button.png) no-repeat !important;
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: relative;
	top: 37%;
	left: 10%;
	margin-right: 0 !important;
}

#radio .jp-volume-max {
	background: url(../img/volume-button.png) no-repeat !important;
	width: 40px;
	height: 40px;
	top: 37%;
	left: 80%;
	margin: 0;
}

#radio .prev-played-lightbox {
	height: 50px;
	color: #fff;
	background-color: #00c9d0;
	text-decoration: none;
	position: fixed;
	bottom: -0px;
	font-weight: 700;
	width: 100%;
	font-family: "myriad-pro", sans-serif;
	font-size: 15px;
	text-align: center;
	line-height: 50px
}
#radio .prev-played-lightbox i{
	position: relative;
	top: 10px;
	margin-right: 5px;
	font-size: 30px !important;
}
#radio .prev-played-lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background-color: rgba(225,225,225,.4);
	width: 100%;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
}
#radio .prev-played-lightbox-target div {
	box-sizing: border-box;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
#radio a.lightbox-close {
	display: block;
	width:50px;
	height:50px;
	box-sizing: border-box;
	background: transparent;
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: -80px;
	left: 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
#radio a.lightbox-close:before {
	content: "";
	display: block;
	height: 30px;
	width: 2px;
	background: #fff;
	position: absolute;
	left: 24px;
	top:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
#radio a.lightbox-close:after {
	content: "";
	display: block;
	height: 30px;
	width: 2px;
	background: #fff;
	position: absolute;
	left: 24px;
	top:10px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
#radio .prev-played-lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
}

#radio .prev-played-lightbox-target:target img {
	max-height: 100%;
	max-width: 100%;
}

#radio .prev-played-lightbox-target:target a.lightbox-close {
	top: 0px;
}

#radio #now-playing-prev {
	height: 30%;
	display: block;
	width: 100%; 
	margin: 0;
	background: rgba(64, 64, 128, 1);
  	background: -moz-linear-gradient(-45deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
	background: linear-gradient(135deg, rgba(64, 64, 128, 1) 0%, rgba(130, 130, 172, 1) 100%);
	filter: opacity(80%);
	-webkit-filter: opacity(80%);
	-moz-filter: opacity(80%);
	-o-filter: opacity(80%);
	-ms-filter: opacity(80);
}
#radio #now-playing-prev p {
	font-family: "myriad-pro";
	font-size: 14px;
	text-transform: uppercase;
	line-height: 40px;
	height: 40px;
	width: 230px;
	border: 1px solid #fff;
	border-radius: 20px;
	text-align: center;
	margin: 0;
	color: #fff;
	position: absolute;
	right: 50%;
	margin-right: -115px;
	top: 18%;
}

#radio .cctrack .cccover {
	display: none;
}

.cc_recenttracks_list {
	background-color: #fff;
	height: 70%;
	width: 100%;
}
#radio .cctrack {
	height: 20%;
	width: 100%;
}

#radio .cctrack:nth-of-type(1){
	position: absolute;
	top: 5%;
}
#radio .ccalbum {
	display: none;
}
#radio .cctrack:nth-of-type(1) .ccartist {
	color: #fff;
	font-size: 24px;
	font-family: "myriad-pro";
	white-space: nowrap;
	text-align: center;
	font-weight: 300;
}
#radio .cctrack:nth-of-type(1) .cctitle {
	color: #fff;
	font-size: 16px;
	font-family: "myriad-pro";
	white-space: nowrap;
	text-align: center;
	font-weight: 300;
	margin-bottom: 1%;
}
#radio .cctrack:nth-of-type(1) .ccdetails {
	margin: 0;
}
#radio .cctrack .ccdetails {
	position: relative;
}
#radio .cctrack:nth-of-type(2) .ccdetails,
#radio .cctrack:nth-of-type(3) .ccdetails,
#radio .cctrack:nth-of-type(4) .ccdetails,
#radio .cctrack:nth-of-type(5) .ccdetails,
#radio .cctrack:nth-of-type(6) .ccdetails {
	position: relative;
	top: 13%;
}

#radio .cctrack:nth-of-type(2){
	background-color: #fed687;
}
.ccbuy {
	display: none;
}

#radio .cctrack:nth-of-type(2) .ccdetails:before {
	content: "1";
	position: absolute;
	left: -52px;
	top: 10%;
	font-family: "myriad-pro";
	font-weight: 400;
	font-size: 27px;
	color: #3ec2ca;
	text-align: center;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,0.2);
}

#radio .cctrack:nth-of-type(3) .ccdetails:before {
	content: "2";
	position: absolute;
	left: -40px;
	top: 10%;
	font-family: "myriad-pro";
	font-weight: 400;
	font-size: 27px;
	color: #3ec2ca;
}
#radio .cctrack:nth-of-type(4) .ccdetails:before {
	content: "3";
	position: absolute;
	left: -40px;
	top: 10%;
	font-family: "myriad-pro";
	font-weight: 400;
	font-size: 27px;
	color: #3ec2ca;
}
#radio .cctrack:nth-of-type(5) .ccdetails:before {
	content: "4";
	position: absolute;
	left: -40px;
	top: 10%;
	font-family: "myriad-pro";
	font-weight: 400;
	font-size: 27px;
	color: #3ec2ca;
}
#radio .cctrack:nth-of-type(6) .ccdetails:before {
	content: "5";
	position: absolute;
	left: -40px;
	top: 10%;
	font-family: "myriad-pro";
	font-weight: 400;
	font-size: 27px;
	color: #3ec2ca;
}
#radio .prev-played-lightbox-target .cctrack{
	margin: 0;
	font-family: "myriad-pro";
}
#radio .prev-played-lightbox-target .cctrack .ccartist {
	font-size: 14px;
	color: #989898;
	white-space: nowrap;
	position: relative;
}
#radio .prev-played-lightbox-target .cctrack .cctitle {
	font-size: 18px;
	color: #585858;
	font-weight: 700;
}

#radio .prev-played-lightbox-target .cctrack:nth-of-type(4),
#radio .prev-played-lightbox-target .cctrack:nth-of-type(6) {
	background-color: #f1f1f1;
}

#radio #tablet-right-radio-top > p {
	display: none !important;
}


/*-------------------------  RADIO TABLET CSS  -------------------------*/

@media all and (min-width: 480px) {
	#radio {
		height: calc(100% - 80px);
		position: relative;
		bottom: 0;
		min-height: 550px;
	}
	#radio #tablet-left-radio, #radio #tablet-right-radio {
		width: 45%;
		position: absolute;
		height: 95%;
		max-height: 700px;
	}
	#radio #tablet-left-radio {
		left: 3%;
	}
	#radio #tablet-left-radio-container {
		position: relative;
		height: 100%;
		width: 100%;
	}
	#squiggle {
		top: 0%;
	}
	#radio #cc_strinfo_trackimageurl_ggbgcjrh {
		height: 170px;
		position: absolute;
		left: 50%;
		top: 5%;
		margin-left: -85px;
		margin-top: 0;
	}
	#radio #cc_strinfo_tracktitle_ggbgcjrh{
		font-size: 24px;
		position: absolute;
		top: 40%;
	}
	#radio #cc_strinfo_trackartist_ggbgcjrh {
		font-size: 20px;
		position: absolute;
		top: 55%;
	}
	#radio .jp-controls {
		position: absolute;
		margin: -24px 0 0 -24px;

	}
	#radio .jp-volume-controls {
		width: 100%;
		position: absolute;
		left: 0;
		height: 100%;
	}
	#radio .jp-volume-bar {
		width: 220px;
		position: absolute;
		left: 50%;
		top: 0%;
		margin-left: -110px;
	}

	#radio .jp-play {
		background: url(../img/play-button.png) !important;
		background-color: #fff;
		position: absolute;
		left: 50%;
		margin-left: -22px;
		top: 50%;
		z-index: 2;
	}
	#radio #song-info {
		height: 70%;
	}

	#radio .music-player > div {
		height: 100%;
		width: 100%;
	}

	#radio .jp-mute {
		background: url(../img/mute-button.png) no-repeat !important;
		width: 40px;
		height: 40px;
		background-color: transparent;
		position: relative;
		top: 37%;
		left: 0%;
		margin-right: 0 !important;
	}

	#radio .jp-volume-max {
		background: url(../img/volume-button.png) no-repeat !important;
		width: 40px;
		height: 40px;
		top: 37%;
		left: 85%;
		margin: 0;
	}

	#radio #tablet-right-radio {
		right: 3%;
	}
	#radio #tablet-right-radio-top {
		position: relative;
	}

	#radio #tablet-right-radio-top > p {
		display: block !important;
		font-family: "myriad-pro";
		font-size: 14px;
		text-transform: uppercase;
		line-height: 40px;
		height: 40px;
		width: 230px;
		border: 1px solid #fff;
		border-radius: 20px;
		text-align: center;
		margin: 0;
		color: #fff;
		position: absolute;
		left: 50%;
		margin-left: -115px;
	}

	#radio .prev-played-lightbox-target {
		position: absolute;
		top: 15%;
		width: 100%;
		height: 80%;
		background-color: transparent;
		-webkit-transition: opacity 0;
		-moz-transition: opacity 0;
		-o-transition: opacity 0;
		transition: opacity 0;
		overflow: hidden;
	}
	#radio #tablet-right-radio-container {
		position: relative;
		height: 100%;
		width: 100%;
	}
	#radio .prev-played-lightbox-target div {
		-webkit-transition: 0;
		-moz-transition: 0;
		-o-transition: 0;
		transition: 0;
	}
	#radio a.lightbox-close, 
	#radio a.lightbox-close:before, 
	#radio a.lightbox-close:after, 
	#radio .prev-played-lightbox, 
	#radio .prev-played-lightbox-target:target,
	#radio .prev-played-lightbox-target:target img, 
	#radio .prev-played-lightbox-target:target a.lightbox-close, 
	#radio #now-playing-prev {
		display: none;
	}
	#radio .cctrack:nth-of-type(1) {
		display: none !important;
	}

	#radio .cc_recenttracks_list {
		height: 100%;
		width: 100%;
	}
	#radio .cctrack {
		height: 20%;
		width: 100%;

	}
	#radio .cctrack .ccdetails {
		position: relative;
	}
	#radio .cctrack:nth-of-type(2) .ccdetails,
	#radio .cctrack:nth-of-type(3) .ccdetails,
	#radio .cctrack:nth-of-type(4) .ccdetails,
	#radio .cctrack:nth-of-type(5) .ccdetails,
	#radio .cctrack:nth-of-type(6) .ccdetails {
		position: relative;
		top: 13%;
	}

	#radio .cctrack:nth-of-type(2) .ccdetails:before {
		position: absolute;
		top: 10%;
	}

	#radio .cctrack:nth-of-type(3) .ccdetails:before {
		position: absolute;
		left: -40px;
		top: 10%;
	}
	#radio .cctrack:nth-of-type(4) .ccdetails:before {
		position: absolute;
		left: -40px;
		top: 10%;
	}
	#radio .cctrack:nth-of-type(5) .ccdetails:before {
		position: absolute;
		left: -40px;
		top: 10%;
	}
	#radio .cctrack:nth-of-type(6) .ccdetails:before {
		position: absolute;
		left: -40px;
		top: 10%;
	}
	#radio .prev-played-lightbox-target .cctrack .ccartist {
		font-size: 14px;
		position: relative;
	}
	#radio .prev-played-lightbox-target .cctrack .cctitle {
		font-size: 18px;
	}
	#radio #tablet-right-radio-top {
		height: 60%;
	}
	#radio #song-request {
		display: block;
		position: absolute;
		bottom: -1%;
		height: 40%;
		width: 100%;
	}
	#radio #song-request-button {
		font-family: "myriad-pro";
		font-size: 14px;
		text-transform: uppercase;
		line-height: 40px;
		height: 40px;
		width: 230px;
		border: 1px solid #fff;
		border-radius: 20px;
		text-align: center;
		margin: 0;
		color: #fff;
		position: absolute;
		left: 50%;
		top: 0%;
		margin-left: -115px;
	}
	#radio #song-request input {
		height: 40px;
		width: 100%;
		margin: 0;
		margin-bottom: 3%;
		box-sizing: border-box;
		border: none;
		text-align: center;
		font-size: 12px;
	}
	#radio #song-request form {
		position: absolute;
		bottom: 0;
	}
	#radio #song-request input:nth-of-type(1), #radio #song-request input:nth-of-type(2) {
		background-color: rgba(255,255,255,0.3);
		color: #fff !important;
	}
	#radio #song-request input:nth-of-type(3) {
		background-color: #00c9d0;
		color: #fff;
		font-family: "myriad-pro";
		font-weight: 700;
	}
}
@media all and (min-height: 800px) {
	#tablet-left-radio, #tablet-right-radio {
		width: 45%;
		position: absolute;
		height: 95%;
		max-height: 700px;
		top: 50%;
		margin-top: -350px;
	}
}
/*-------------------------  RADIO DESKTOP CSS  -------------------------*/

@media all and (min-width: 900px) {
	#radio {
		height: calc(100% - 80px);
		position: relative;
		max-width: 1200px;
		left: 50%;
		transform: translate(-50%);
	}
	#squiggle {
		top: -10%;
	}
	#radio #tablet-left-radio, 
	#radio #tablet-right-radio {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	#radio #tablet-right-radio-top/*prev playing*/ {
		position: absolute;
		top: 37%;
		transform: translateY(-50%);
		width: 30%;
		left: 2.5%;
	}
	#radio #tablet-left-radio-container/*radio*/{
		position: absolute;
		height: calc(100% - 70px);
		top: 46.5%;
		width: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
	}
	#radio #song-request/*song request*/ {
		display: block;
		position: absolute;
		top: 7%;
		right: 2.5%;
		height: calc(100% - 70px);
		width: 30%;
		
	}
	
	#radio #cc_strinfo_trackimageurl_ggbgcjrh {
		height: 200px;
		position: absolute;
		left: 50%;
		top: 5%;
		margin-left: -100px;
		margin-top: 0;
	}
	#radio #cc_strinfo_tracktitle_ggbgcjrh{
		font-size: 24px;
		position: absolute;
		top: 50%;
		text-align: center;
		margin: 0;
		width: 100%;		
	}
	#radio #cc_strinfo_trackartist_ggbgcjrh {
		font-size: 20px;
		position: absolute;
		top: 60%;
		text-align: center;
		margin: 0;
		width: 100%;		
	}
	#radio #song-request input {
		height: 40px;
		width: 100%;
		margin: 0;
		margin-bottom: 8%;
		box-sizing: border-box;
		border: none;
		text-align: center;
		font-size: 12px;
	}
	#radio #song-request form {
		position: absolute;
		top: 10%;
	}
	#radio #song-request input:nth-of-type(3) {
		background-color: #00c9d0;
		opacity: 0.6;
		color: #fff;
		font-family: "myriad-pro";
		font-weight: 700;
		width: 70%;
		margin-left: 15%;
	}
}

/*-------------------------  RADIO WIDGET CSS  -------------------------*/
/*-------------------------  RADIO WIDGET PHONE CSS  -------------------------*/

.radio-widget {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	overflow: hidden;
}
@media all and (min-width: 550px) {
	.radio-widget {
		max-width: 660px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.radio-widget-container {
	position: relative;
}

.radio-widget .cc_player .jp-details {
	display: none;
}

.radio-widget .cc_player .jp-play {
	background: url(../img/play-button.png) !important;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
}
.radio-widget .cc_player .jp-controls {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.radio-widget .cc_player > div{
	height: 50px;
}
.radio-widget .cc_player .jp-volume-controls {
	display: none;
}
.radio-widget .jp-interface {
	height: 50px;
	width: 30px;
	background-color: transparent;
}
.radio-widget .jp-audio-stream {
	border: none;
	color: #fff;
	background-color: transparent;
}
.radio-widget .now-playing {
	position: absolute;
	top: 5px;
	display: inline-block;
	width: 100%;
}
.radio-widget .now-playing a {
	color: #fff !important;
	text-align: center;
	width: 100%;
	text-decoration: none;
	font-family: "myriad-pro";
	font-weight: 600;
}
.radio-widget #cc_strinfo_song_ggbgcjrh, .radio-widget .cc_streaminfo a {
	width: 70%;
	min-width: 210px;
	height: 50px;
	overflow: auto;
	overflow-y: hidden;
	-ms-overflow-y: hidden;
	position: absolute;
	white-space: nowrap; 
	display: inline-block !important;
	line-height: 50px;
	top: -5px;
	margin-left: 15%;
}

.radio-widget .jp-type-single, .radio-widget .jp-gui {
	height: 50px !important;
}

.radio-widget .jp-volume-max {
	display: block;
	position: absolute;
	right: 0 !important;
	bottom: 0 !important;
	background: url(../img/volume-button.png) !important;
	height: 40px;
	width: 40px;
}

/*-------------------------  RADIO WIDGET DESKTOP CSS  -------------------------*/
@media all and (min-width: 1000px) {

}


/*-------------------------  CHAT CSS  -------------------------*/

/*-------------------------  CHAT PHONE CSS  -------------------------*/

#chat {
	height: calc(100% - 115px);
}
#chat-container {
	height: 100%;
}
#cboxdiv {
	width: 100% !important;
	height: 100% !important;
}
#cboxdiv .chat-history {
	height: 77%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
#cboxmain2-2374625 {
	height: 100%;
	width: 100%;
	position: relative;
	top: 3px;
}

#cboxdiv .cbox-input {
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 23%;
	margin: 0;
}

.frmtb {
	width: 70% !important;
}

/*-------------------------  CHAT TABLET CSS  -------------------------*/

@media all and (min-width: 550px) {
	#chat {
		height: calc(100% - 130px);
	}
	#chat-container {
		height: 100%;
	}
	#cboxdiv {
		width: 100% !important;
		max-width: 660px;
		height: 100% !important;
		margin: 0 auto;
	}
	#cboxdiv .chat-history {
		height: 77%;
		width: 100%;
		margin: 0;
		overflow: hidden;
	}
	#cboxmain2-2374625 {
		height: 100%;
		width: 100%;
		position: relative;
		top: 3px;
	}

	#cboxdiv .cbox-input {
		position: absolute;
		bottom: 1px;
		width: 100%;
		height: 23%;
		max-height: 250px;
	}

	.frmtb {
		width: 70% !important;
	}
}

/*-------------------------  CHAT DESKTOP CSS  -------------------------*/

@media all and (min-width: 1000px) {

}

/*-------------------------  CONTACT CSS  -------------------------*/

/*-------------------------  CONTACT PHONE CSS  -------------------------*/
#contact {
	height: calc(100% - 120px);
	position: relative;
}
 #contact-relative {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}
#contact-absolute {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	max-height: 650px;
}
#contact #contact-info {
	width: 100%;
	display: block;
	height: 50%;
	position: relative;
	max-width: 450px;
	margin: 0 auto;
}
#contact form {
	width: 100%;
	display: block;
	height: 50%;
	position: relative;
	max-width: 450px;
	margin: 0 auto;
}

#contact h3 { 
	font-family: "myriad-pro";
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	height: 40px;
	width: 230px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 20px;
	line-height: 40px;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -115px;
}
#contact p {
	font-family: "myriad-pro";
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	width: 80%;
	margin: 0 auto;
	display: block;
	text-align: center;
}
#contact p:nth-of-type(1) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);

}
#contact p:nth-of-type(2) {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -90%);
}

#contact-submit {
	display: block;
	height: 40px;
	width: 100%;
	max-width: 450px;
	position: absolute;
	bottom: 0;
	background-color: #00c9d0;
	color: #fff;
	font-family: "myriad-pro";
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	line-height: 40px;
}
#contact #name, #contact #email {
	width: 99.5%;
	max-width: 450px;
	height: 25px;
	text-align: center;
	background-color: rgba(255,255,255,0.3);
	border: none;
	margin-bottom: 1%;
	position: absolute;
	color: #fff;
}
#contact #name {
	top: 0;
}
#contact #email {
	top: 17%;
}
#contact #message-wrapper {
	position: absolute;
	width: 100%;
	max-width: 450px;
	height: 40%;
	bottom: 25%;
}
#contact #contact-message {
	width: 98%;
	margin: 0 auto;
	padding: 5px;
	background-color: rgba(255,255,255,0.3);
	border: none;
}
#contact-form > div {
	height: 5%;
	display: block;
}
#contact-form #email div {
	height: 5%;
}
*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
	color: white;
}
*::-moz-placeholder {
	color: white;
}
*:-ms-input-placeholder {
	color: white;
}



/*-------------------------  CONTACT TABLET CSS  -------------------------*/

@media all and (min-height: 700px) {
	#contact {
		height: calc(100% - 130px);
		position: relative;
	}
	#contact-absolute {
		display: block;
		position: absolute;
		height: calc(100% - 120px);
		width: 100%;
		max-height: 650px;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -40%);
	}
	#contact-relative {
		display: block;
		position: relative;
		height: 100%;
		width: 100%;
	}
	#contact p {
		font-size: 18px;
	}
	#contact #name, #contact #email, #contact-submit, 
	#contact #contact-message {
		font-size: 15px;
	}
	#contact #name {
		top: 0;
	}
	#contact #email {
		top: 17%;
	}
}

/*-------------------------  CONTACT DESKTOP CSS  -------------------------*/

@media all and (min-width: 1000px) {

}