@import 'colors';
@import 'mixins';
@import 'susy';

$brandColor: #e74c3c;

nav {
	background-color: $brandColor;
	
	@include bp-tablet {
		background-color: $flat-yellow-1;
		width: 600px;
		margin: 0 auto;
	}
	
	@include bp-desktop {
		background-color: $flat-green-1;
		width: 1300px;
	}
}












